<Ifmodule mod_rewrite.c>
  RewritiEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewiteCond %{REQUEST_FILENAME} !-l
  RewriteRule ./index.html [L]
</Ifmodule>